<div class="superior" style="text-align:center">
  <h1 class="encabezado">
    Bienvenido a Just do It
  </h1>
  <br>
  <button (click)="lista()" class="mdl-button mdl-js-button mdl-js-ripple-effect">Empezar</button>
  <p class="aclaracion">Simplemente guarda el enlace de tu lista en marcadores o compartelo</p>
</div>
<div class="centrado">
  <div class="inferior">
    <a routerLink="/datosPersonales"><img src="../assets/contacto.png" width="125" height="125"></a>
    <!--<a href="https://facebook.com"><img src="../assets/share.png"  width="100" height="100"></a>-->
    <a href="https://github.com/Saeron"><img src="../assets/github.png" width="125" height="125"></a>
  </div>
</div>